{% extends "layout.html" %}

{% block body %}

<div>
  <!-- <img src={{ image_url }} alt="Avatar" class="profile-image"></img> -->

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary icon-button"  style="background-image: url('{{ image_url }}');"  data-bs-toggle="modal" data-bs-target="#changeProfilePictureModal">

</button>

<!-- Modal -->
<div class="modal fade" id="changeProfilePictureModal" tabindex="-1" aria-labelledby="changeProfilePictureModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="display: flex; justify-content: space-between;">
        <h1 class="modal-title fs-5" style="color: black;" id="changeProfilePictureModal">Change Profile Picture</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="create-post">
          <form action="/changeProfilePicture" method="POST">
            <div class="mb-3">
              <!-- <label for="post-imageUrl" class="form-label">Image Link</label> -->
              <input type="text" class="form-control" id="post-imageUrl" name="post-imageUrl" placeholder="Image Link" aria-describedby="Description">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <button type="submit" class="btn btn-primary">Upload Image</button>
          </form>
        </div>
      </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Post it!</button>
      </div> -->
    </div>
  </div>

  <div>@{{ username }}</div>
  {% if current_logged_in_user[0]["handler"] == username %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Post
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="display: flex; justify-content: space-between;">
        <h1 class="modal-title fs-5" style="color: black;" id="exampleModalLabel">Add Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="create-post">
          <form action="/profile" method="POST">
            <div class="mb-3">
              <!-- <label for="post-imageUrl" class="form-label">Image Link</label> -->
              <input type="text" class="form-control" id="post-imageUrl" name="post-imageUrl" placeholder="Image Link" aria-describedby="Description">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <!-- <label for="post-imageUrl" class="form-label">Image Link</label> -->
              <input type="text" class="form-control" id="post-songName" name="post-songName" placeholder="Song Name" aria-describedby="Description">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <!-- <label for="post-imageUrl" class="form-label">Image Link</label> -->
              <input type="text" class="form-control" id="post-songID" name="post-songLink" placeholder="Spotify Song Link" aria-describedby="Description">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="post-description" name="post-description" placeholder ="Description" aria-describedby="Description">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
          </form>
        </div>
      </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Post it!</button>
      </div> -->
    </div>
  </div>

  {% else %}
  <form action="/follow" method="POST" style="display: inline;">
    <input type="hidden" name="user_id_to_follow" value='{{ user_info["ID"] }}'>
    <button type="submit" class="btn btn-primary">Follow</button>
  </form>
  {% endif %}
</div>

<div class="post px-5">
  <div>
    {% for post in posts %}
    <div class="row py-2">
      <!-- Post Section ----------------------------------- -->
      <div class="col-6 px-0">
        <div class="card">
          <div class="post-img-wrapper">
            <p class="card-text">@{{ post.handler }}</p>
            <img src="{{ post.imageUrl }}" class="post-img" alt="Post Image" />
          </div>

          <div class="card-body">
            <iframe
              class="spotify-frame"
              src="https://open.spotify.com/embed/track/{{ post.songUrl }}?utm_source=generator"
              frameborder="0"
              allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
              loading="lazy"
            ></iframe>
            <!-- <p class="card-text">Song Name: {{ post.songName }}</p> -->
          </div>
          <div class="card-footer text-muted">{{ post.timeElapse }}</div>
        </div>
      </div>

      <!-- Comment Section -------------------------------- -->
      <div class="col-6 px-0">
        <div class="comment-section">
          <!-- Comments Display -->
          <div class="comments">
            {% if post.postID in comments %} {% for c in comments[post.postID]
            %}
            <div class="comment">
              <img
                src="{{ c.avatar }}"
                alt="User Profile"
                class="profile-pic"
              />
              <div class="comment-content">
                <div class="comment-header">
                  <span class="username">{{ c.userName }}</span>
                  <span class="timestamp">{{ c.timeElapse }}</span>
                </div>
                <p>{{ c.content }}</p>
              </div>
            </div>
            {% endfor %} {% else %}
            <p class="no-comments">No comments yet.</p>
            {% endif %}
          </div>
          <!-- Comment Form -->
          <form action="/" method="POST">
            <!-- Hidden field to include the post ID -->
            <input type="hidden" name="postID" value="{{ post.postID }}" />
            <div class="comment-input">
              <img
                src="/static/avatar.jpeg"
                alt="User Profile"
                class="profile-pic"
              />
              <textarea
                placeholder="Write a comment..."
                name="commentInput"
                class="comment-box"
              ></textarea>
              <button class="post-btn-icon" type="submit">
                <i class="fa fa-paper-plane"></i>
                <!-- Paper plane icon -->
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>



<!-- <div>Friends: {{ friends }}</div> -->
</div>

{% endblock %}